<h1> COMING SOON</h1>
<H3>ADMINISTRADOR DE NOVEDADES</H3>
<P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi quod ipsum esse! Ex nesciunt voluptas sequi harum possimus reprehenderit est ut provident perspiciatis placeat eum officia, illum laborum ipsa deleniti?</P>

<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col">
            <p class="text-end">
                <span>¡Hola {{usuario}}! </span>
                <a href="/admin/login/logout" class="btn btn-danger">Cerrar Sesión <i class="fas fa-sign-out-alt"></i></a>
            </p>
        </div>
    </div>
</div>