
p{
    text-align: center; 
    padding-top: 3%;
    border-top: #c8d4b0 2px solid;
}
h3,h4{
    text-align: center;
     font-variant: small-caps;
}
h4{
  border-bottom: #c8d4b0 2px solid;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20%;
  margin-right: 20%;
}

