/*LETRAS
jost - ExtraLight 200 Italic
outfit - light 300
urbanist - light 300
urbanist - light 100  
rethink sans - regular 400

COLORES
magenta= #832D51
rosa chicle= #EA6993
rosa claro= #F8CAE4
verde claro= #CFDD9C
verde matcha= #447A5F
/*  */
colores
mocha berry #7A4854
moss shadow #F2E8D5
cocoa dust #4E3D42


blancos,negros y grises
poppy seed #626367
oat silk #F3E6D8
asphalt #302F2C
soft dove #COBAB3
moon rock #887D77
spiced hot chocolate #52423D



*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f3e6d8;
    color: #302F2C;
}
#header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 20px;
    position: relative;
    text-align: center;
    margin-bottom: 5%;
}
.tabs-container{
    position:absolute;
    bottom: 0;
    display: flex;
    margin: 0;
    width: 97%;
    height: 10%;
    background-color: #F2E8D5;
    box-shadow: 0 0 20px #7A4854;
}

.sticky{
    position: fixed;
    top: 0;
}

.tabs-container a{
    text-decoration: none;
    color: #302F2C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    letter-spacing: 2px;
    transition: all 0.3 ease;
}

.tabs-container a:hover{
    background-color: #7A4854;
    color: #F2E8D5;
}

.section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* CONTENIDO */
.fotos{
    height: 120px;
    width: auto;
}

.card-body{
    height: 150px;
}
.direccion{
    text-align: end;
}
.card img{
    filter:grayscale();
    transition: all .2s ease-in-out;
    opacity: 0.7;
}
.card :hover{
    filter:none;
    opacity: 1;
    /* transform: scale(1.1,1.1); */
}
.card h5{
    font-family:"outfit";
    font-weight: 400;
}
.card p{
    font-family: "Jost";
    font-weight: 200;
}
h2, h3{
    font-family: "Rethink Sans";
    font-weight: 500;
}
h5{
    font-family: "Urbanist";
    font-weight: 300;
}
.introo{
    border-top: #447A5F;
    border-width: 2px;
    border-style:solid; 
    border-bottom: none;
    border-left: none;
    border-right: none;
}
.testimonios{
    background-color: #CFDD9C;
    border-style: dotted;
    border-color:#447A5F;
    padding-bottom: 4rem !important;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 100px;
}
.testimonio{
text-align: center;
padding: 50px 20px;
}
footer{
    background-color:#EA6993;
    text-align: center;
}
.formulario{
    margin-left: 200px;
    margin-right: 200px;

}
button{
    margin-left: 45%;
}
html{
    scroll-behavior: smooth;
}


