/*LETRAS
jost - ExtraLight 200 Italic
outfit - light 300
urbanist - light 300
urbanist - light 100  
rethink sans - regular 400

COLORES
magenta= #832D51
rosa chicle= #EA6993
rosa claro= #F8CAE4
verde claro= #CFDD9C
verde matcha= #447A5F
*/
body {
    background-image: url(Betu/aura.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.fondo{
    background-attachment: fixed;
}
.hero{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro{
background-color: #CFDD9C;
}
.tenedor{
    object-fit: scale-down;
    height: 400px;
}
.local{
    object-fit: scale-down;
    height: 400px;
}
.alfajor{
    object-fit: scale-down;
    height: 400px;
}
nav{
    height: 88px;
}